* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserat', sans-serif;
}

body {
    background: linear-gradient(45deg, #3E656D, rgba(255,0,0,0) 85%),
            linear-gradient(315deg, #3B3E44, rgba(255,0,0,0) 85%),
            linear-gradient(180deg, #404C5C, rgba(255,0,0,0) 100%);
    display: flex;
    min-height: 100vh;
}

.brand-font {
    font-size: 25px;
    font-weight: 25;
    letter-spacing: 2px;
    color: white
}

.login-form {
    width: 451px;
    height: 503px;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #A6A6A6;
    border-radius: 12px;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Parametros (son con respecto al objeto): Posicion Horizontal | Posicion Vertical | Difuminado | Expansion */
    justify-content: center;
}
.login-form__image {
    width: 45px;
    height: 56px;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
    margin-top: 15px;
}

.login-form__h2 {
    letter-spacing: 0.5px;
    margin-top: 16px;
}

.login-form__p {
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(231, 231, 231);
}

.mensaje-de-error{
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: rgb(255, 0, 0);
    opacity: 0;
    pointer-events: none;
}

.login-form__text-input {
    border-radius: 7px;
    border: 4px solid #636363;
    background: #D9D9D9;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 23px;
    width: 338px;
    height: 67px;
    padding: 0 30px;
    padding-top: 1px;
    font-size: 18px;
    color: #707070;
}

.login-form__text-input::placeholder {
    font-size: 18px;
    color: #969696;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.login-form__text-input:focus {
    outline: none;
    border-color: #0EA0CE;
    box-shadow: none;
    color: #707070;
}

.login-form__button-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 15%;
    width: 100%;
    padding: 35px;
}

.login-form__button {
    font-size: 20px;
    line-height: 0.5px;
    letter-spacing: 1px;
}

.login-form__button:hover {
    transform: scale(1.05);
}

.login-form__button--submit {
    width: 115px;
    height: 37px;
    border-radius: 7px;
    border: 1px solid #3E3D3D;
    background:#515151;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

.login-form__button--register {
    color: #515151;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}

a{
    color: white;
}