* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserat', sans-serif;
}

body {
    background: linear-gradient(45deg, #3E656D, rgba(255,0,0,0) 85%),
            linear-gradient(315deg, #3B3E44, rgba(255,0,0,0) 85%),
            linear-gradient(180deg, #404C5C, rgba(255,0,0,0) 100%);
    display: flex;
    min-height: 100vh;
}

.brand-font {
    font-size: 25px;
    font-weight: 25;
    letter-spacing: 2px;
    color: white
}

.delete-account-form {
    width: 451px;
    height: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #A6A6A6;
    border-radius: 12px;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Parametros (son con respecto al objeto): Posicion Horizontal | Posicion Vertical | Difuminado | Expansion */
    justify-content: center;
}
.delete-account__image {
    width: 45px;
    height: 56px;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
    margin-top: 35px;
}

.delete-account__h2 {
    letter-spacing: 0.5px;
    margin-top: 16px;
}

.delete-account__p {
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(255, 0, 0);
}

.delete-account__password{
    margin: auto;
    display: flex;

}

.boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.delete-account__submit{
    width: 200px;
    height: 60px;
    border-radius: 7px;
    border: 3px solid rgb(255, 27, 27);
    background:#6d6d6d;
    box-shadow: -4px 4px 4px 0px rgba(97, 0, 0, 0.25);
    color: rgb(255, 27, 27);
    margin: 25px auto;
    font-size: 18px;
    font-weight: 500;
}

.delete-account__submit:hover{
    background-color: #5f5f5f;
    cursor: pointer;
}

.delete-account__password{
    border-radius: 7px;
    border: 4px solid #636363;
    background: #D9D9D9;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 23px;
    width: 338px;
    height: 67px;
    padding: 0 30px;
    padding-top: 1px;
    font-size: 18px;
    color: #707070;
}

.delete-account__password::placeholder {
    font-size: 18px;
    color: #969696;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.delete-account__password:focus {
    outline: none;
    border-color: #0EA0CE;
    box-shadow: none;
    color: #707070;
}


.delete-account__checkbox{
    border-radius: 40px;
    outline: 3px solid #636363;
    background: #D9D9D9;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    width: 1.6vw;
    height: 1.6vw;
}
.delete-account__checkbox:hover{
    cursor: pointer;
}
.delete-account__texto{
    color: rgb(56, 56, 56);
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 3%;
}
.delete-account__texto:hover{
    cursor: pointer;
}

.boton__confirmar{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0% 18%;
    align-items: center;
}
